<div class="about-container">
  <p class='p-column'>
    My name is Ignacio Rodriguez, I'm currently living in Mendoza, Argentina.
    I'm about to finish the programming course at university,
    and I have previously studied English-Spanish translation at the same level.
  </p>
  <p class='p-column'>
    I have previously worked with Angular, and I'm getting to know Emberjs.
    I've found that programming is something that I enjoy both for its technical
    challenge and creative engagement.
    I'm looking to deepen my knowledge in front-end development in the near future.
  </p>
</div>
{{outlet}}
