<div class="mascot-container">
  <div class="saucer">
  <div class="bottom"></div>
  <div class="cockpit">
    <div class="kodos">
      <div class="eye"></div>
      <div class="mouth"></div>
      <div class="ear"></div>
      <div class="tentacle"></div>
    </div>
  </div>
  </div>
</div>

{{outlet}}
