<h1>Hello Ember!</h1>
<div class="content-wrapper">
  <div class="links">
    <LinkTo @route="home.mascot" class='button1'>Mascot</LinkTo>
    <LinkTo @route="home.about" class='button1'>About me</LinkTo>
  </div>
  <div class='route-frame'>
    {{outlet}}
  </div>
</div>
